
.animDiv:active{
    background:linear-gradient(to bottom right, rgba(207, 2, 2, 0.507), rgba(173, 173, 2, 0.5)), linear-gradient(to top left, rgba(207, 2, 2, 0.507), rgba(173, 173, 2, 0.5));
    color:rgb(229, 226, 226);
}

html, body{
    padding: 0;
    margin: 0;
}
body{
    background:radial-gradient(circle at 50% 60%, rgb(41, 40, 40), black);
    background-attachment: fixed;
    overflow:hidden;
}
p, h1, div{
    font-family: SuisseIntl-Book,Arial,sans-serif;
    position: relative;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 0px black;
}
h1{
    font-size:4em;
}
p{
    font-size: 2.5em;
}

.divClick{
    position: relative;
    height: 400px;
    width: 800px;
    background:linear-gradient(to bottom right, rgba(255, 0, 0, 0.507), rgba(255, 255, 0, 0.5)), linear-gradient(to top left, rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5));
    margin: 0 auto;
    font-size: 2.6em;
    user-select: none;
    line-height: 400px;
    box-shadow: 20px 20px black;
    border-radius: 5px;
    touch-action: manipulation;

}
.divTry{
    position: relative;
    height: 60px;
    width:200px;
    background-color: rgb(209, 35, 35);
    margin: 0px auto;
    border-bottom: solid rgb(182, 35, 35) 5px;
    border-right: solid rgb(182, 29, 29) 5px;
    user-select: none;
    line-height:60px;
    font-size:1.6em;
    top:50px;
}
.second{
    position: relative;
    height: 60px;
    width:200px;
    background-color: rgb(209, 35, 35);
    border-bottom: solid rgb(182, 35, 35) 5px;
    border-right: solid rgb(182, 29, 29) 5px;
    line-height:60px;
    font-size:1.6em;
    left:78%;
    bottom:400px;
    margin: 20px 0;
    user-select: none;
}
a{
    text-decoration: none;
    color:white;
}
*{
    right:100vw;
    animation-name: lancement;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes lancement{
    from{
        right:100vw;
    }
    to{
        right:0vw;
    }
}
@media all and (max-width:1500px){
    div[class="second"]{
        left:83.5%;
    }
}
@media all and (max-width:1250px){
    body{
        overflow-y: visible;
    }
    div[class="second"]{
        bottom:0px;
        left:0px;
        top:50px;
        margin:20px auto;
    }
}
@media all and (max-width:900px){
    .divClick{
        width:600px;
        height:300px;
        line-height:300px;
    }
}
@media all and (max-width:600px){
    .divClick{
        width:450px;
        height:225px;
        line-height:225px;
    }
}
@media handheld{
    .animDiv:active{
        background:linear-gradient(to bottom right, rgba(255, 0, 0, 0.507), rgba(255, 255, 0, 0.5)), linear-gradient(to top left, rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5));
        color:white;
    }
}
@media all and (max-height:930px){
    body{
        overflow-y:visible;
    }
}
